<ion-view title="Message Center">
  <ion-content class="has-header padding">
    <ion-list>
  <ion-item ng-repeat="message in messages | orderBy:'-sent'">

    <div class="msg-left">
      <h1><b>Subject:</b> {{message.subject}}</h1>
      <h2>From: {{message.firstname}} {{message.lastname}}</h2>
      <h2>Received: {{message.sent}}</h2>
      <hr />
      <p><b>Message:</b> {{message.message}} </p>
      
    </div>

    <div class="msg-right">
      <buton class="button button-block button-positive" ng-click="respondMsg($index)">Respond</button>
    </div>
    
    <div style="clear:both;"></div>
  </ion-item>
</ion-list>
  </ion-content>
</ion-view>
