<ion-view title="Reviews" ng-init="getReviewFn()">
  <ion-content  scroll="true" class="has-header padding">
    <ion-refresher on-refresh="doRefresh()"
                    pulling-text="Pull to refresh..."
                    refreshing-text="Refreshing!"
                    refreshing-icon="ion-loading-a">
    </ion-refresher>
  
   <ion-list>
    <div class="item-container">
      <ion-item ng-repeat="review in reviews | orderBy:'-sent'" type="item-text-wrap">
        
        	
        	<div class="star-container">
        		<span class="stars">{{review.rating}}</span>

        	</div>

        	<div class="review-data">
	        	<h1>{{review.rtitle}} </h1>
            <hr />
            <p>{{review.message}}</p>
            <hr />
            <h3>{{review.firstname}} | {{review.sent}}</h3>
            
	        	
	        </div>

	        <div class="review-respond">
	        	
            <buton class="button button-block button-positive" ng-click="respondReview($index)">Respond</button>

            

	        </div>
      		<div style="clear:both;"></div>
      </ion-item>
    </div>
    </ion-list>
  </ion-content>

</ion-view>
