<ion-tabs class="tabs-icon-top tabs-default">
  <!-- Bookings Tab -->
  <ion-tab title="Bookings" icon="icon ion-calendar" href="#/tab/bookings">
    <ion-nav-view name="bookings-tab"></ion-nav-view>
  </ion-tab>

  <!-- Reviews Tab -->
  <ion-tab title="Reviews" icon="icon ion-ios7-star" href="#/tab/reviews">
    <ion-nav-view name="reviews-tab"></ion-nav-view>
  </ion-tab>

  <!-- Customers Tab -->
  <ion-tab title="Customers" icon="icon ion-ios7-people" href="#/tab/customers">
    <ion-nav-view name="customers-tab"></ion-nav-view>
  </ion-tab>

 <!-- Menus Tab -->
  <ion-tab title="Menus" icon="icon ion-document-text" href="#/tab/menus">
    <ion-nav-view name="menus-tab"></ion-nav-view>
  </ion-tab>

  <!-- Messages Tab -->
  <ion-tab title="Messages" icon="icon ion-ios7-email" href="#/tab/msg">
    <ion-nav-view name="msg-tab"></ion-nav-view>
  </ion-tab>

   <!-- Log Out Tab -->
  <ion-tab title="Log Out" icon="icon ion-log-out" href="#/tab/logout">
    <ion-nav-view name="logout-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
